.caracGroup {
    border: 1px;
    border-style: solid;
    border-radius: 80px;
    margin: 10px;
    width: 160px;
    height: 216px;
    text-align: center;
}

.carac {
    border: 1px;
    border-style: solid;
    border-radius: 80px;
    margin: 10px;
    width: 160px;
    height: 160px;
    text-align: center;
    top: 17px;
    left: -11px;
    position: relative;
}

.textCarac {
    position: relative;
    top: 70px;
    font-weight: bold;
    border: 1px;
    border-style: solid;
    border-radius: 12px;
    padding: 5px;
    z-index: 2;
    text-transform: capitalize;
    font-size: small;
}

.fleche{
    width: 57px;
    position: absolute;
    left: 46px;
    transform: rotate(-90deg);
}

.flecheHaut {
    top: 20px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-left: 0px;
}

.flecheBas {
    top: 113px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-right: 0px;
}

.quart {
    position: relative;
    border: 1px;
    width: 80px;
    height: 80px;
}

.textQuart {
    position: relative;
    text-transform: capitalize;
    font-size: x-small;
}
.textQuartHaut {
    position: relative;
    top: 50px;
}
.textQuartBas {
    position: relative;
    top: 9px;
}
.quart1 {
    top: -19px;
    border-right-style: dotted;
    border-bottom-style: dotted;
}

.quart2 {
    top: -100px;
    left: 80px;
}

.quart3 {
    top: -100px;
}

.quart4 {
    top: -180px;
    left: 80px;
    border-left-style: dotted;
    border-top-style: dotted;
}

.carac1 {
    background: #c32b2b;
}

.carac1.caracGroup {
    background: rgba(195, 43, 43, 0.5);
}

.carac1.carac {
    background: rgba(195, 43, 43, 0.5);
}

.carac2 {
    background: #61bd3b;
}

.carac2.caracGroup {
    background: rgba(97, 189, 59, 0.5);
}

.carac2.carac {
    background: rgba(97, 189, 59, 0.5);
}

.carac3 {
    background: #45b0bb;
}

.carac3.caracGroup {
    background: rgba(69, 176, 187, 0.5);
}

.carac3.carac {
    background: rgba(69, 176, 187, 0.5);
}

.valeurCarac {
    position: absolute;
    width: 25px;
    text-align: center;
    height: 20px;
    top: 26px;
    left: 26px;
    border-radius: 6px;
    border-style: solid;
}

.valeurCaracCumulAttaque {
    top: -27px;
    left: 65px;
    background: white;
}

.valeurCaracCumulDefense {
    top: 161px;
    left: 65px;
    background: white;
}

.lstCompetences {
    position: relative;
    top: -183px;
    left: 170px;
    border-radius: 20px;
    width: 668px;
    height: 200px;
    padding: 5px;
    text-align: left;
}