
.caracGroup {
    display: flex;
    position: relative;
    align-items: center;
    border: 1px;
    border-style: solid;
    border-radius: 80px;
    margin: 10px;
    width: 160px;
    height: 216px;
}

.carac {
    display: flex;
    align-items: center;
    border: 1px;
    border-style: solid;
    border-radius: 80px;
    width: 160px;
    height: 160px;
}

.textCarac {
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    border: 1px;
    border-style: solid;
    border-radius: 12px;
    padding: 5px;
    z-index: 2;
    text-transform: capitalize;
    font-size: small;
}

sphere-carac-group-directive {
    position: absolute;
    top: 124px;
    width: 160px;
}

sphere-carac-group-directive:first-of-type {
    top: 5px;
}

.fleche {
    display: block;
    position: relative;
    width: 57px;
    transform: rotate(-90deg);
}

.flecheHaut {
    top: 23px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-left: 0px;
}

.flecheBas {
    top: -23px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-right: 0px;
}

.quart {
    border: 1px;
    width: 77px;
    height: 41px;
    display: inline-block;
}

.textQuart {
    display: block;
    text-align: center;
    text-transform: capitalize;
    font-size: small;
}

.quartHaut {
    height: 57px;
    border-bottom-style: dotted;
}

.carac1 {
    background: #c32b2b;
}

.carac1.caracGroup {
    background: rgba(195, 43, 43, 0.5);
}

.carac1.carac {
    background: rgba(195, 43, 43, 0.5);
}

.carac2 {
    background: #61bd3b;
}

.carac2.caracGroup {
    background: rgba(97, 189, 59, 0.5);
}

.carac2.carac {
    background: rgba(97, 189, 59, 0.5);
}

.carac3 {
    background: #45b0bb;
}

.carac3.caracGroup {
    background: rgba(69, 176, 187, 0.5);
}

.carac3.carac {
    background: rgba(69, 176, 187, 0.5);
}

.champSaisi, .lstTalents td.champSaisi {
    width: 31px;
    text-align: center;
    height: 14px;
    border-radius: 6px;
    border-style: solid;
    font-size: small;
    background-color: white;
}

.valeurCarac {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.valeurCaracCumulHaut {
    background: white;
}

.valeurCaracCumulBas {
    background: white;
}

.lstCompetences {
    border-radius: 20px;
    width: 300px;
    height: 200px;
    padding: 5px;
}

.lstTalents {
    border-radius: 20px;
    width: 450px;
    height: 200px;
    padding: 5px;
    font-size: small;
}

.lstTalents table {
    border: 0px;
    border-style: none;
}

.lstTalents th {
    border: 0px;
}

.lstTalents td {
    border: 1px;
    border-style: dotted;
}

html, body {
    background-color: cornsilk;
}

table {
    margin-top: 8px;
}

tr:hover {
    background-color: rgba(0, 0, 0, 0.15);
}