<div layout="column">
	<sphere-directive indice-sphere="1" spheres="accueilCtrl.spheres"></sphere-directive>
 	<sphere-directive indice-sphere="2" spheres="accueilCtrl.spheres"></sphere-directive>
	<sphere-directive indice-sphere="3" spheres="accueilCtrl.spheres"></sphere-directive>
	<div>
		<input class="equipement" value="Armes à cadence de tir élevé">
		<input class="champSaisi" value="-2">
		<input class="champSaisi" value="0">
		<input class="champSaisi" value="+2">
		<input class="champSaisi" value="-2">
	</div>
</div>
