<div class="caracGroup carac{{sphereTalentsCtrl.indiceSphere}} lstTalents">
	<table width="100%" cellpadding="1" cellspacing="0">
		<tr>
			<th>&nbsp;</th>
			<th>Coût</th>
			<th>Diff.</th>
			<th>Rang</th>
			<th>Carac</th>
			<th>Total</th>
		</tr>
		<tr ng-repeat="talent in sphereTalentsCtrl.lstTalentCourant | orderBy:'moCarac.msLibelle'">
			<td width="120px">
				{{talent.msLibelle}}
			    <md-tooltip md-direction="bottom">{{talent.msDescri}}</md-tooltip>
			</td>
			<td>
				{{talent.msCout}}
			</td>
			<td>
				{{talent.msDifficulte}}
			</td>
			<td>
				<input type="number" class="champSaisi" ng-model="talent.miValeur" />
			</td>
			<td>
				+ [{{talent.moCarac.msLibelle}}]
			</td>
			<td class="champSaisi">
				<span>{{ talent.miValeur + talent.moCarac.miValeur }}</span>
			</td>
		</tr>
	</table>
</div>