<div class="carac carac{{sphereCaracCtrl.indiceSphere}}">
	<span class="textCarac carac{{sphereCaracCtrl.indiceSphere}}">
		{{sphereCaracCtrl.sphereCourante.msLibelle}}
	</span>
	<sphere-carac-group-directive
		indice-sphere="sphereCaracCtrl.indiceSphere" 
		indice-typ-carac="0" 
		spheres="sphereCaracCtrl.spheres"></sphere-carac-group-directive>
	<sphere-carac-group-directive
		indice-sphere="sphereCaracCtrl.indiceSphere" 
		indice-typ-carac="1" 
		spheres="sphereCaracCtrl.spheres"></sphere-carac-group-directive>
</div>