<div class="caracGroup carac{{sphereCompetencesCtrl.indiceSphere}} lstCompetences">
	<table width="100%" cellpadding="0" cellspacing="0">
		<tr ng-repeat="comp in sphereCompetencesCtrl.lstCompetenceCourante">
			<td width="120px">
				{{comp.msLibelle}}
				<span ng-if="comp.mbSpecial">*</span>
			    <md-tooltip md-direction="bottom">
			    	{{comp.msDescri}}
				</md-tooltip>
			</td>
			<td>
				<input type="number" class="champSaisi" ng-model="comp.miValeur" />
			</td>
			<td>
				+ [{{comp.moCarac.msLibelle}}]
			</td>
			<td class="champSaisi">
				<span>{{ comp.miValeur + comp.moCarac.miValeur }}</span>
			</td>
		</tr>
	</table>
</div>